<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "kļūda") %> Neizdevās saglabāt:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lietotājvārds %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :parole %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :parole_atkārtoti %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit 'Izveidot lietotāju' %>
  </div>
<% end %>
